[Unit]
Description=ffmpeg livestream
After=syslog.target network.target

[Service]
WorkingDirectory=/opt/livestream/
ExecStart=/usr/bin/bash livestream.sh
Restart=always
User=www-data
[Install]
WantedBy=multi-user.target
