[Unit]
Description=ffmpeg stream
After=syslog.target network.target

[Service]
WorkingDirectory=/srv/stream/
ExecStart=/usr/bin/bash stream.bash
Restart=always
User=http
[Install]
WantedBy=multi-user.target
