:root {
    --window-bg-color: #000 !important;
    --body-color: #fff !important;
    --highlight-bg-color: #0d0d0d !important;
}

h2 {
    margin: 0;
}


#nick {
    background: #1c1c1c !important;
    color: white !important;
}

.col-container {
/*    display: grid;
    grid-template-columns: 1fr 0.34fr;*/
	display: flex;
	justify-content: center;
    color: black;
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}

.one {
}

.col.two {
    max-height: calc(100% - 3px);
}

.three {
      width: 100%;}

iframe {
    max-height: 100%;
    min-height: 100%;
    width: 100%    !important;
    height: auto   !important;

}

body {
    color: white;
    background: #242424;
    font-family: monospace;
}

video {
	
    width: 100%    !important;
    height: auto   !important;
max-width: 100vh;
    }


  .cntnts {
	text-align: left;
  }

  a {
	color: #1fb2b0;
  }


@media screen and (max-width: 934px) {
  .col{
    display: block !important;
  }

  .col-container {
    display: block !important;
  }

  .one {
    width: 100%;
  }

  .two {
    width: 100%;
    height: 350px;
    min-height: 315px;
  }

  .three {
    width: 100%;
    text-align: center;
border-top: outset 1px black;
background: white;
  }

  .headercntns {
    width: 100%;
    overflow: hidden;
  }
}

.header {
  width: 100%;
}

.headercntns {
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    background: #151515;
}


.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive::before {
    display: block;
    content: "";
}

.embed-responsive-16by9::before {
    padding-top: 56.25%;
}

.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
